.navlink {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 1.7rem;
}

.navlink::after {
  content: "";
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  background: #f0a500;
  transition: width 0.4s;
}

.navlink:hover::after {
  width: 100%;
}